@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background: #fff;
    overflow-x: hidden;
    font-family: 'Google Sans', sans-serif;
}

.corpo {
    align-content: center;
    padding: 2px;
    margin: 1px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
}

.hero-1 {
    position: relative;
    min-height: 100vh;
}

.hero-1:before {
    position: absolute;
    content: "";
    top: -125px;
    left: 990px;
    width: 560px;
    height: 560px;
    border-radius: 50%;
    background: #F7B62A;
    z-index: 0;
}

.hero-1:after {
    position: absolute;
    content: "";
    top: 20px;
    left: 800px;
    width: 170px;
    height: 170px;
    border-radius: 50%;
    background: #F7B62A;
    z-index: 0;
}

.iam {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 7px;
    padding: 10px;
    z-index: 1;
}

.hero-2 {
    position: relative;
    min-height: 100vh;
}

.hero-2:before {
    position: absolute;
    content: "";
    top: 200px;
    right: 1000px;
    width: 560px;
    height: 560px;
    border-radius: 50%;
    background: #F7B62A;
    z-index: 0;
}

.hero-2:after {
    position: absolute;
    content: "";
    top: 490px;
    right: 830px;
    width: 170px;
    height: 170px;
    border-radius: 50%;
    background: #F7B62A;
    z-index: 0;
}

.greetins {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 6px;
    padding: 40px;
    z-index: 1;
}

.texts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px;
    z-index: 1;
}

.text-apresent{
    font-size: 25px;
    font-weight: bold;
}

.text{
    font-size: 16px;
    padding: 12px;
}

img {
    padding: 30px;
    max-width: 100%;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    z-index: 1;
}

.about {
    padding: 70px;
}


.about h2 {
    text-align: center;
    padding: 30px;
    margin: 20px;
    z-index: 1;
    position: relative;
    font-size: 25px;
}

.about h3{
    font-size: 20px;
    font-weight: bold;
    padding: 10px 0;
}

.lista {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 6px;
    padding: 40px;
    gap: 5px;
    z-index: 1;
    position: relative;
    font-size: 16px;
}

.cir {
    position: absolute;
    top: 1350px;
    right: 20px;
    width: 420px;
    height: 420px;
    border-radius: 50%;
    background: #F7B62A;
    z-index: 0;
}

.cir:before {
    position: absolute;
    content: "";
    top: 200px;
    right: 1120px;
    width: 320px;
    height: 320px;
    border-radius: 50%;
    background: #F7B62A;
    z-index: 0;
}

.cir-small {
    position: absolute;
    top: 1350px;
    right: 400px;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background: #F7B62A;
    z-index: 0;
}

.cir-small:before {
    position: absolute;
    content: "";
    top: 400px;
    right: 640px;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background: #F7B62A;
    z-index: 0;
}

.projects {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 30px;
    padding: 20px;
    z-index: 1;
    position: relative;
}

.projects h2 {
    text-align: center;
    padding: 30px;
    margin: 20px;
    z-index: 1;
    position: relative;
}

.footer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 20px;
    padding: 40px;
    gap: 10px;
    z-index: 1;
    position: relative;
}

.footer h2{
    text-align: center;
    padding: 20px;
}

.fa-github{
    font-size: 44px;
    color: #F7B62A;
}

.fa-linkedin{
    font-size: 44px;
    color: #F7B62A;
}